<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="ASB Cards and Operations" verbose="1" >

<listeners>
	<listener class-name="com.qa.asb.extentReportsListener.ExtentreportListener" />
</listeners>

  <test name="ASB Regression suite 1" >
    <classes>
      <class name="com.Hp.ASBTest.LoginPageTest"/>
      <class name="com.Hp.ASBTest.HomepageTest"/>
    </classes>
 </test>
</suite>